$gray: #555;
$white: #FFF;

$linkColor: #0AF;
$linkColorHover: darken($linkColor, 15%);

$baseBorderRadius: 2px;
$borderRadiusLarge: 3px;
$borderRadiusSmall: 2px;

$btnBackground: #F6F6F6;
$btnBackgroundHighlight: #EAEAEA;
$btnBorder: #CFCFCF;
$btnDangerBackground: #F53924;
$btnDangerBackgroundHighlight: #ED2C17;
$btnInfoBackground: #00CFFF;
$btnInfoBackgroundHighlight: darken($btnInfoBackground, 4%);
$btnPrimaryBackground: #54AAFF;
$btnPrimaryBackgroundHighlight: #4A96E8;
$btnSuccessBackground: #0ECD27;
$btnSuccessBackgroundHighlight: #0ABA1D;
$btnWarningBackground: #FFA658;
$btnWarningBackgroundHighlight: #F49645;

$dropdownLinkBackgroundActive: lighten($linkColor, 5%);
$dropdownLinkBackgroundHover: darken(#3ECAF4, 10%);
$dropdownLinkColorActive: $white;

$navbarBackground: #F3F3F3;
$navbarBackgroundHighlight: #F9F9F9;
$navbarBorder: #DDDDDD;
$navbarLinkBackgroundActive: lighten($navbarBackground, 25%);
$navbarLinkColor: $gray;
$navbarLinkColorHover: $linkColorHover;
$navbarText: $navbarLinkColor;

$errorBackground: #FEE5E2;
$errorBorder: #FCACA5;
$errorText: #B50303;
$infoBackground: #CEF1FC;
$infoBorder: darken($infoBackground, 10%);
$infoText: #12718F;
$successBackground: #F1FBD1;
$successBorder: #BCE830;
$successText: #488F06;
$warningBackground: #FFFBDC;
$warningBorder: #F1D875;
$warningText: #BF7900;


$azul: #2883B3;
$marinho: #0B3455;
$verde: #49B869;
$cinza: #727171;
$cinzaClaro: #BEBEBE;

/* Cores- AUXILIARES */
$vermelhoAux: #F56565;

/* Cores- PMERJ */

$azulPmerj: #00AEEF;
$azulEscuroPmerj: #184E5E;
$verdePmerj: #26C1A7;
$brancoPmerj: #FBFBFF;
$pretoPmerj: #3A3A3A;


/* Cores- PCERJ */
$azulPcerj: #4b7188;
$azulEscuroPcerj: #122e44;
$verdePcerj: #90ce87;