@import "compass";
@import "mixins";

@keyframes animaLeftRight{
  from {
   		transform: translateX(-100%);
   } to {  
   		transform: translateX(0); 
   }
}

@keyframes animaRightLeft{
	from{
		transform: translateX(150%);
	}to{
		transform: translateX(0);
	}
}