@import "aui_variables";

#heading{
    padding: 10px 30px;
}

.clear{
	clear: both;
}

p.espacamento{
	margin: 30px auto !important;
}

p.texto-reduzido{
	font-size: 14px !important;
	line-height: 16px;
}
.assistencias, .coberturas, .assistenciais, .sub-assistenciais{
	width: fit-content;
    margin: auto;
}
a.link-assistenciais{
	color: $white !important;
	text-decoration: none;
	
	&:hover{
		text-decoration: underline;
	}
}

/* Efeito Parallax */
.parallax-mobile{
	height: 104.6px;
}

#parallax1, #parallax2{
	background-size: cover;
    background-attachment: fixed;
	/* background-position: 66%; */
	background-position: top;
	background-repeat: no-repeat;
    position: relative;	
}

/* Parallax/ Overlay Azul */
#parallax1{
	height: 700px;
	background-image: url('https://www.policiaprotegida.com.br/documents/42401/95070/img_1.jpg'); 
	background-position: 0 -16% !important;
    
    .overlay-content {
    	background-color: rgba(0,46,84,0.76);
	    min-height: 100%;
	    z-index: 2;
	    display: block;
	    margin-left: 63%;
	    color: $white;
	    
	    
	    .conteudo-slider{
	    	padding: 39% 22% 0 5%;
    		margin-left: -13%;
	    	
	    	h2{
	    		margin-bottom: 30px;
	    	}
	    	.subconteudo-slider{
	    		border: 8px solid $white;
				padding: 30px 30px 30px 80px;
			    margin-right: -14px;
			    margin-bottom: -14px;
	    	}
	    }
	}
}

/* Overlay Verde */
.overlay-content-green{
	background-color: rgba(129,215,66,0.79);
    min-height: 100%;
    z-index: 2;
    display: block;
    margin-right: 61%;
}


a.btn-simulador{
	color: $marinho;
	background-color: $white;
	padding: 18px 39px;
	text-decoration: none !important;
    line-height: 1;
    display: inline-block;
    max-width: 100%;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    white-space: normal;
    text-overflow: ellipsis;
    border-radius: 58px;
    box-shadow: none;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.35s ease;
    position: relative;
    text-transform: uppercase;
    
    &:hover{
    	color: $white;
	    background-color: rgba(255,255,255,0.4);
	    box-shadow: 0 0 10px rgba(255,255,255,0.4);
    }
}

a.btn-simulador.simulador-vida{
	color: $brancoPmerj;
	background-color: $azulEscuroPmerj;
		    
	&:hover{
		background-color: rgba(0, 174, 239, 0.7);
		box-shadow: 0 0 10px rgba(0, 174, 239, 0.7);
	}
}

/* Assistencias */
#assistencias{
	text-align: center;
    color: $marinho;
    padding: 37px 30px 115px 30px;
    
    h2{
    	text-transform: uppercase;
    }
	.texto-assistencias {
   
	    p{
	    	width: 100%;
	    	max-width: 750px;
	    	margin: 30px auto;
	    }
	}
	.assistencias{
	    padding-top: 40px;
	    /* width: fit-content;
    	margin: auto; */
	
		.span3{
			min-height: 298px;
			position: relative;
			
			.flip-container {
			    width: 100%;
			    height: 100%;
			    position: absolute;
			    -webkit-transition: -webkit-transform 1s;
			    -moz-transition: -moz-transform 1s;
			    -o-transition: -o-transform 1s;
			    transition: transform 1s;
			    -webkit-transform-style: preserve-3d;
			    -moz-transform-style: preserve-3d;
			    -o-transform-style: preserve-3d;
			    transform-style: preserve-3d;
			    -webkit-transform-origin: 50% 50%;
			    
			    div.front, div.back {
				    display: block;
				    height: 100%;
				    width: 100%;
				    position: absolute;
				    -webkit-backface-visibility: hidden;
				    -moz-backface-visibility: hidden;
				    -o-backface-visibility: hidden;
				    backface-visibility: hidden;
				}
				
				.back {
				    background: $azul;
				    color: $white;
				    -webkit-transform: rotateY( 180deg );
				    -moz-transform: rotateY( 180deg );
				    -o-transform: rotateY( 180deg );
				    transform: rotateY( 180deg );
				    
				    p{
				    	padding: 30px;
				    	line-height: 25px;
				    }
				}
			}
			.flip-container.flipped {
			    -webkit-transform: rotateY( 180deg );
			    -moz-transform: rotateY( 180deg );
			    -o-transform: rotateY( 180deg );
			    transform: rotateY( 180deg );
			}
		}
		.img-assistencia img {
		    width: 110px;
		}
		h3{
			margin: 20px auto !important;
			max-width: 245px;
		}
		p{
			min-height: 60px;
		}
		a{
			color: $white !important;
			text-decoration: none !important;
		}
		.leia-mais {
		    background-color: $verde;
		    padding: 19px 0;
		    margin-top: 305px;
    		position: relative;
		    
		    .icon-chevron-right{
		    	font-size: 16px;
		    }
		    span {
			    font-size: 17px;
			    text-transform: uppercase;
			    font-family: Lato;
			    font-weight: 700;
			    padding-left: 15px;
			}
		}
	}
}


#aceitacao{
	.overlay-content{
		margin-left: 29% !important;
	}
	h1{
		color: $white;
	}
	.container-texto-aceitacao {
	   /*  z-index: 2;
	    display: block;
	    width: 100%!important;
	    min-height: 100%;
	    margin-top: -84%;
	    min-height: 751px;
	    max-width: 1540px; */
	    z-index: 2;
	    display: block;
	    width: 100%!important;
	    min-height: 751px;
	    max-width: 1540px;
	    height: 193%;
	    position: relative;
	    top: -86%;
	    background-position-y: 206px;
	    
	    .subcontainer-texto-aceitacao {
		    max-width: 795px;
		    text-align: left;
		    margin: 0 0 0 24%;
		    padding: 10.1% 9% 12.5%;
		    width: auto;
		    word-wrap: break-word;
		    
		    .borda-texto-aceitacao {
			    box-sizing: border-box;
			}
		}
	} 
	
	#togglerAceitacao{
		padding: 20px 0;
		
		h4{
			cursor: pointer;
			    width: 400px;
			    padding: 14px;
			    background: $azul;
			    color: $white !important;
			    margin-bottom: 0;
		}
		p{
			width: 400px;
			margin-top: 0px;
		    font-size: 16px;
		    line-height: 20px;
		    padding: 14px;
		    background-color: $white;
		    color: $marinho;
		}
		i{
			color: $verde;
			padding-right: 10px;
		}
		.toggler-header-collapsed:after{
			content: "+";
		}
		.toggler-header-expanded{
			background-color: $verde !important;
			
			&:after{
				content: "-";
			}
		}
		/* .toggler-header-expanded:after{
			
		} */
		.toggler-header-collapsed:after, 
		.toggler-header-expanded:after{
		    font-size: 30px;
		    line-height: 24px;
		    float: right;
		}
		    
	}   
}

#coberturas{
	text-align: center;
    padding: 100px 30px 100px 30px;
    color: $cinza;
    
    .icon-plus{
    	font-size: 30px;
    }
    
    .texto-coberturas{
    	h1{
    		color: $marinho;
    	}
    	p{
    		width: 100%;
		    max-width: 750px;
		    margin: auto;
    	}
    	
    }
    .morte-natual-texto{
   		padding: 98px 0;
    }
    .acidente-texto{
    	padding: 17px 0px;
    }
    .acidente-imagem img{
   		padding-top: 85px;
    }
    .icone-igual{
    	font-size: 60px;
	    /* line-height: 50px; */
	    font-weight: 700;	
    }
    .span12 {
	    margin-top: 21px;
	}
	.span6{
		
		p{
			text-align: left;		
		}
		i{
			color: $verde;
			padding-right: 10px;
    		line-height: 35px;
		}
	}
	
}
#assistenciais{
	background: url(../images/comum/imagem-assistenciais.jpg) no-repeat;
	padding: 40px 30px;
	color: $white;
	background-size: cover;
    background-position-y: bottom;
	
	h1, h3, p{
		text-align: center;
	}
	.conteudo-assistenciais{
		max-width: 450px;
    	margin: 60px auto;
	}
	
	.img-assistencia {
	    margin: auto;
	    width: 100px;
	    
	    img{
	    	width: 100px;
	    }
	}
	
}

#protecao-familiar{
	background: url('https://www.policiaprotegida.com.br/documents/42401/95070/img_2.jpg') no-repeat;
	height: 500px;
    background-size: cover;
    background-position-y: 48%;
	color: $white;
	
	.conteudo-protecao {
	    padding: 60px;
	}
	p{
    	padding-top: 10px;
	}
}

footer{
	background: url('/worksites-theme/images/comum/asfalt-rodape.png') repeat-x;
	padding: 30px 60px;
	display: flex !important;
    justify-content: space-between;
    align-items: baseline;
	
	.logo{
		color: $cinzaClaro;
		font-family: 'Lato',sans-serif!important;
		font-size: 14px; 
		font-style: italic;
		text-align: center;
		
		img{
			width: 150px;
		}
		div{
			padding-top: 10px;
		}
	}
	.social{
		
		h4{
			color: $verde;
		}
		a{
			color: $cinzaClaro;
			text-decoration: none !important;
			
			&:hover{
				color: $verde;
				
				svg{
					fill: $verde;
				}
			}
		}
		svg{
			fill: $cinzaClaro;
			width: 31px;
			height: 31px;
		}
		svg.whatsapp{
			width: 34px;
			padding-bottom: 3px;
		}
		svg.facebook{
			width: 21px;
		}
		svg.email{
			width: 38px;
		}
		svg.instagram{
			width: 33px;
    		padding-bottom: 1.5px;	
		}
		
	}
	
	.conteudo-fixo & {
		position: relative;
	}
}

.esquerda-direita{
	-webkit-animation: animaLeftRight 500ms ease-out both; /* Safari 4+ */
	-moz-animation: animaLeftRight 500ms ease-out both; /* Fx 5+ */
	-o-animation: animaLeftRight 500ms ease-out both; /* Opera 12+ */
	animation: animaLeftRight 500ms ease-out both; /* IE 10+, Fx 29+ */
}
	
.direita-esquerda{
	-webkit-animation: animaRightLeft 500ms ease-out both; /* Safari 4+ */
	-moz-animation: animaRightLeft 500ms ease-out both; /* Fx 5+ */
	-o-animation: animaRightLeft 500ms ease-out both; /* Opera 12+ */
	animation: animaRightLeft 500ms ease-out both; /* IE 10+, Fx 29+ */
}

/* Pagina - Seguro de Vida */

.fase-1 {
	.texto-captura-lead{
    	display: block !important;
    }
    
	.texto-vida-explicativo {
		display: none !important;
	} 
}
.fase-2, .fase-3, .fase-4, .fase-5,
.fase-6, .fase-7, .fase-8,
.fase-9, .fase-10{
	.texto-captura-lead{
    	display: none !important;
    }
    /* 
	.texto-vida-explicativo {
		display: block !important;
	}  */
} 


/* Mudancas na disposição dos elementos da página */
.fase-3, .fase-4, .fase-5,
.fase-6, .fase-7, .fase-8,
.fase-9, .fase-10{
	.span6{
		width: 100% !important;
	}	
	.valor-vida{
		display: none !important;
	}
} 
 

.topo-vida{
	background-image: url('/worksites-theme/images/comum/pmerj/seguro-saude.jpg'); 
	background-repeat: no-repeat;
    background-position: center 20%;
    background-size: cover;
    height: 400px;
    -webkit-transform: scaleX(-1);
 	transform: scaleX(-1);
}

.valor-vida {
	display: none !important;
	width: auto;
	background-color: rgba(251,251,255,0.5);
	opacity: 0.7;
	border-radius: 2px;
	margin: 0 30px 0 0;
	padding: 20px;
	font-family: "Lato",sans-serif !important;
	position: fixed;
	right: 0;
	top: 191px;
	
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	
	.valor-vida-fixo & {
		background-color: $white;
		margin-top: 11px;
    	top: 0;
	}
	    
	div {
		float: left;
	}
		
	.texto-vida {
		font-size: 15px;
	}
	.texto-vida.ant {
		width: 49px;
		text-align: right;
		padding-right: 10px;
	}
	.texto-vida.pos {
		padding-top: 20px;
	}
	.num-vida {
		font-size: 45px;
		font-weight: bold;
		line-height: unset;
		padding-top: 10px;
		padding-right: 5px;
	}
}

#coberturas-vida {
    border: 1px solid #ccc;
    margin: 15px 0;
    
    .header-cobertura{
	    padding: 10px;
	    font-family: Lato, sans-serif !important;
	    font-size: 18px !important;
	    margin: 0;
	    cursor: pointer;
	    
	    i{
			font-size: 18px;
		    line-height: 28px;
		    right: 0;
		    float: right;
		    
		    /* alterar por site */
		    color: #26c1a7;
		}
	}
	
	.header-cobertura.para-conjuge{
		border-top: 1px solid #ccc;
	}
    
    p.content-cobertura{
    	padding: 10px;
    	font-size: 16px;
    	line-height: 20px;
    	border-top: 1px solid #ccc;
    	background-color: #FAFAFA;
    	margin-bottom: 0;
    }
    
    
    /* .titulo {
	    border-bottom: 1px solid #ccc;
	    display: none;
	    font-size: 18px;
	}
	
	.titulo-cobertura{
		padding: 10px;
	    font-size: 18px;
	    cursor: pointer;
	}
	
	.titulo-cobertura.para-conjuge {
	    border-top: 1px solid #ccc;
	}
	
	i{
		font-size: 16px;
	    right: 0;
	    float: right;
	    
	    alterar por site
	    color: #26c1a7;
	}
	
	.conteudo-cobertura{
		border-top: 1px solid #ccc;
		background-color: #FAFAFA;
		 
		-webkit-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-ms-transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
		
		ul{
			margin-bottom: 0 !important;
		}
		li{
			padding: 5px 0;
		}
	}
	
	.conteudo-cobertura.fechado{
		height: 0;
		visibility: hidden;
		opacity: 0;
	}
	.conteudo-cobertura.aberto{
		height: auto;
		visibility: visible;
		opacity: 1;
	} */
    
}

.assistencia-vida, .forma-pagamento{
	font-family: "Lato",sans-serif!important;
	font-size: 18px;
	line-height: 30px;
}

#assistencias-vida{
	
	background-color: #fafafa;
	
	
	.assistencia-vida {
	    border-bottom: 1px solid #d1d1d1;
	    padding-bottom: 15px;
	    margin-bottom: 15px;
	    
	    .esq {
		    float: left;
		    width: 203px;
		    font-weight: bold;
		}
		
		.dir {
		    float: right;
		    width: 422px;
		}
	}
}



.forma-pagamento{
	.esq, .dir {
	    float: left;
	}
	.esq {
	    margin-right: 15px;
	    margin-bottom: 15px;
	}
} 

/* Mensagem acima do Slider */

.sliders-intro {
    width: 565px;
    opacity: 0.9;
    border-radius: 2px;
    margin: 0 30px 0 0;
    padding: 20px;
    font-family: "Oswald",sans-serif;
    font-size: 25px;
    line-height: 34px;
    position: absolute;
    left: 39px;
    top: 155px;
    text-align: justify;
    
    .patente-nome {
	    font-weight: 600;
	    font-size: 30px;
	    text-transform: capitalize;
	}
}