@import "aui_variables";

#navigation {
    float: right;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 33px;
    
    .nav-desktop{
    	display: block;
    }
    
    ul{
    	list-style: none;
    	margin: 0 !important;
    	
    	li{
    		display: inline-block !important;
    		padding-left: 30px;
    		
    		a{
    			color: $marinho;
    			text-decoration: none !important;
    			&:hover{
	    			color: $verde;
	    		}
    		}
    	}
    }
    
	#nav_toggle{
		display: none;
		color: $verde;
		font-size: 25px;
		text-decoration: none !important;
		text-align: left;
		
		i{
			/* padding: 5px 8px; */
		}
		.btn-open {
		    color: #0b3455 !important;
		    background-color: #49b869;
		}
	}
    
}

#navigation-mobile{
	.collapse.nav-collapse{
		display: none;
		float: right;
		width: 35%;
	}
	.collapse.nav-collapse.open{
		display: block !important;
		overflow: visible !important;
	}
	ul{
    	list-style: none;
	    background-color: $verde;
	    padding-bottom: 10px;
	    
	    li{
	    	padding: 15px 25px;
	    	
	    	a{
	    		color: $marinho !important;
			    font-family: Lato;
			    font-size: 16px;
			    font-weight: 700;
			    text-transform: uppercase;
	    	}
	    }
	}
}

