@import "aui_variables";

#banner{
	z-index: 5;
    position: fixed;
    width: 100%;
    background-color: #FFF;
    
    .borda-topo{
    	border-top: 1px solid $verde;
    	border-bottom: 1px solid $marinho;
    }
}

#heading{
	.logotipo{
		float: left;
		
		img{
			width: 180px;
    		max-width: 180px;
		}
	}
	
}