/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

#wrapper {
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Oswald',sans-serif !important;
 	font-weight: 600 !important;
}
h1{
	font-size: 50px !important;
    line-height: 53px !important;
}

h2{
	font-size: 40px !important;
    line-height: 43px !important;
}

h3{
	font-size: 30px !important;
    line-height: 39px !important;
}

h4{
	font-size: 25px !important;
    line-height: 28px !important;
}

p{
	font-family: 'Lato',sans-serif!important;
	font-size: 18px;
}


.portlet-column.portlet-column-first {
    margin-left: 0;
}

#content{
	padding-top: 60px;
}

/* Toolbar dos portlets	 */
.portlet-topper-guest {
    display: none !important;
}
.portlet-topper .portlet-topper-toolbar{
    display:block;
}
.portlet-topper{
	background-color: #c4c4c4;
    border-radius: 5px;
}

.portlet-topper h1.portlet-title{
    font-size: 15px!important;
    line-height: 20px !important;
    padding: 5px 10px 7px 10px;
    border-radius: 6px;
}

.js .controls-hidden .lfr-meta-actions, 
.js .controls-hidden .portlet-borderless-bar, 
.js .controls-hidden .portlet-topper-toolbar, 
.js .controls-hidden .lfr-configurator-visibility{
     display: block;
}

.portlet-column.portlet-column-first {
    margin-left: 0;
}

/* Botoes */

.aui .btn{
	outline: none !important;
    padding: 18px 39px;
    text-decoration: none!important;
    line-height: 1;
    display: inline-block;
    max-width: 100%;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    white-space: normal;
    text-overflow: ellipsis;
    border-radius: 58px;
    box-shadow: none;
    font-size: 15px;
    font-weight: 500;
    transition: all .35s ease;
    position: relative;
    text-transform: uppercase;
    text-shadow: none !important;
    border: none;
    background-image: none !important;
    
}

.content {
    margin: 20px 30px 60px 30px;
    min-height: 300px;
}