@import "aui_variables";



.pproteg-contratacao-wrapper .form{
	
	border: 1px solid #ccc;
    padding: 20px 30px 30px 30px;
    min-width: 510px;
    width: 510px;
    margin: 0px 30px 30px 0;
    background-color: $white;
    position: fixed;
    top: 140px;
    
    .fase-1 & {
    	position: relative !important;
    	top: 0 !important;
    }
    
    .fase-3 & {
    	position: relative !important;
    	top: 0 !important;
    	width: 100%;
    	box-sizing: border-box;
    	border: none;
    	
    }
    
    /* Fases de contratacao */
    .fase-4 &, .fase-5 &,
    .fase-6 &, .fase-7 &, .fase-8 &,
    .fase-9 &, .fase-10 &  {
    	position: relative !important;
	    top: 0!important;
	    width: 750px;
	    box-sizing: border-box;
	    margin: -125px auto 71px auto;
	    display: block !important;
    }
    
    /* .conteudo-fixo .fase-3 &, .conteudo-fixo .fase-4 &, .conteudo-fixo .fase-5 &,
    .conteudo-fixo .fase-6 &, .conteudo-fixo .fase-7 &, .conteudo-fixo .fase-8 &,
    .conteudo-fixo .fase-9 &, .conteudo-fixo .fase-10 &  {
    	top: 0!important;
    } */
    
    
    
    .conteudo-fixo &{
	    /* position: fixed !important; */
	    top: 104px !important;
    }
    
    .conteudo-relativo &{
    	/* position: relative !important;
    	top: 2401px !important; */
    	bottom: 200px;
    	top: auto;
    }
    
    .efeito-transicao &{
    	-webkit-transition: all 300ms ease-in-out;
	    -moz-transition: all 300ms ease-in-out;
	    -ms-transition: all 300ms ease-in-out;
	    -o-transition: all 300ms ease-in-out;
	    transition: all 300ms ease-in-out;
    }
	
	.control-group, .titulo.sem-campo{
		margin: 10px auto;
	}
	.button-holder{
		margin: 15px auto 0 auto;
	}
	
	
	.form-validator-stack.help-inline{
		display: block!important;
    	padding-left: 0!important;
	}
	
	input.field, select{
		font-size: 18px !important;
    	height: 50px !important;
    	width: 100% !important;
    	border-radius: 2px !important;
    	box-sizing: border-box;
    	
    	-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.12) !important;
    	-moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.12) !important;
    	box-shadow: 0 2px 3px 0 rgba(0,0,0,.12) !important;
	}
	
	label {
	    text-transform: uppercase;
	    font-size: 12px !important;
	}
	label.titulo.sem-campo {
	    font-weight: 700;
	    color: #2883B3;
	    font-size: 14px !important;
	}
	
	/* .botao.avancar {
	    background-color: $marinho;
	    background-image: none !important;
	    
	    &:hover, &:active, &:focus{
	    	background-color: $verde;
	    }
	} */
	
	/* .botao.voltar {
	    background-color: $cinzaClaro;
	    background-image: none !important;
	    color: $marinho !important;
	    
	    &:hover, &:active, &:focus{
	    	background-color: $marinho;
    		color: #fafafa !important;
	    }
	} */
	
	/* .botao.avancar, .botao.voltar{
		border: none !important;
	    border-radius: 2px !important;
	    text-shadow: none !important;
	    width: 100%;
	    height: 50px;
	    font-size: 18px;
	    transition: all .2s ease-in-out;
	    text-shadow: 1px 1px 2px rgba(0,0,0,.15) !important;
	    letter-spacing: .2px;
	    	
	} */
	
	#sliders{
		
   		.produto-wrapper{
   		
	   		.nome {
			    
			    font-family: 'Oswald',sans-serif;
			    font-size: 30px;
    			font-weight: 600;
			    text-align: center;
			    margin-bottom: 15px;
			}
   			.descricao {
   				
			    color: $cinza;
			    font-size: 14px;
			    text-align: center;
			}
   		} 
	}
	
	.exibir-detalhe {
    	padding: 0 10px;
    	cursor: pointer;
    	text-align: justify;
    	
    	i{
    		font-size: 12px;
    		padding-right: 5px;
    	}
    }
    
    .tabela-campos{
    	margin-top: 25px;
    	border-top: 1px solid #ccc;
    }
    
	.conjuge .coluna.nome,
	.assistencias .coluna.nome{
		float: left;
		font-family: 'Oswald',sans-serif;
	    font-size: 21px;
	    font-weight: 600;
	    padding-top: 25px;
	    
	    /* alterar por site */
	    /* color: #006494; */
	}
	.conjuge .coluna.campo,
	.assistencias .coluna.campo{
		float: right;
		margin-top: 16px;
	}
	
	.bonus .coluna.campo{
		font-family: "Oswald", sans-serif;
    	font-size: 21px;
	}
	
	.conjuge .descricao, 
	.assistencias .descricao{
	    clear: both;
	    color: $cinza;
	    font-size: 14px;
	    padding-bottom: 0;
	    max-width: 817px;
	    
	 }
	 .assistencias{
	 	width: 100%;
	 }
	 
	 .assistencia-texto{
	 	.carencia, .franquia {
		    padding-top: 15px;
		}
		.carencia {
		    float: left;
		}
		.franquia {
		    float: right;
		}
	 }
		 
	 .fechado .assistencia-texto,
	 .fechado .texto,
	 .fechado .carencia,
	 .fechado .franquia {
	 	transition: all 100ms linear;
		padding-top: 0;
		height: 0;
		opacity: 0;
	}
	 
	.aberto .assistencia-texto {
		transition: all 200ms linear;
		height: auto;
		opacity: 1;
	}
	
	.valor-cobertura {
	    text-align: center;
	    padding-top: 15px;
	    font-size: 18px;
	    font-weight: 600;
	    font-family: 'Oswald',sans-serif;
	    
	    /* alterar por site */
	    color: #006494;
	}
	
	.resumo-wrapper{
		border-radius: 30px;
		/* border: 1px solid #ccc; */
		
		/* .efeito-transicao &{*/
	    	-webkit-transition: height 300ms ease-in-out;
		    -moz-transition: height 300ms ease-in-out;
		    -ms-transition: height 300ms ease-in-out;
		    -o-transition: height 300ms ease-in-out;
		    transition: height 300ms ease-in-out;
	    /*} */
		
		.simulacao-fixo & {
			position: sticky !important;
    		top: 105px !important;
		} 
		
		.sup & {
			top: 140px;
		}
		
		.inf & {
			bottom: 199px;
		}
		
		.simulacao-relativo & {
			position: relative !important;
			top: 526px !important;
			right: 0 !important;
		}
		
		.resumo{
			font-family: "Lato",sans-serif;
			font-size: 15px;
			
			.titulo.valor-seguro {
				text-align: center;
			    font-size: 23px;
    			font-family: "Oswald",sans-serif;
			    line-height: 40px;
			}
			.valor-mensal-wrapper {
			    text-align: center;
			    margin-bottom: 15px;
			}
			.valor.mensal {
				font-family: "Oswald",sans-serif;
			    font-size: 40px;
			    line-height: 48px;
			}
			
			.valor-mes{
				font-family: "Oswald",sans-serif;
			}
			#produtosSel .itens span{
				font-size: 11px;
			}
			
			.patente-selecionada, 
			.cobertura-maxima,
			#produtosSel,
			#adicionaisSel,
			#assistenciasSel,
			#bonus{
			
				clear: both;
				border-top: 1px solid;
    			padding-top: 6px;
    			/* font-size: 17px; */
				
				.titulo{
					float: left;
				}
				
				ul.itens{
					float: right;
					text-align: right;
					list-style: none;
					min-height: 19px;
					margin-left: 0;
				}
			}
			#adicionaisSel{
				border-top: 1px dotted !important;
			}
		}
	}
	
	/* Pagina de Conclusao */
	.contratacao.conclusao {
	    padding-top: 10px;
	}
	
	.logos-assinatura{
		
		display: flex;
	    text-align: left;
	    display: -webkit-flex;
	    flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	    justify-content: center;
	    -webkit-justify-content: center;
	    margin: 45px auto;
	
		.logo-colab{
			margin: 15px 20px;
		}
		
		.colab {
			width: 130px;
		    height: 70px;
		    background-repeat: no-repeat;
		    background-size: 130px;
		}
		.logo-flanci{
			background-image: url('/worksites-theme/images/comum/contratacao/logo-flanci.png');
			background-position-y: 11px;
		}
		.logo-pprotegida{
			background-image: url('/worksites-theme/images/comum/contratacao/logo-pprotegida.png');
		}
		.logo-sudamerica{
			background-image: url('/worksites-theme/images/comum/contratacao/logo-sudamericavida.png');
		}
		.logo-chubb{
			background-image: url('/worksites-theme/images/comum/contratacao/logo-chubb-seguros.png');
			background-position-y: 22px;
			
			.info-seguradora {
			    text-align: right;
			    padding-top: 11px;
			    margin-right: -6px;
			}
		}
		
		.tipo-participacao {
		    text-align: center;
		    font-size: 12px;
    		font-weight: bold;
		}
		
	}
	
	.rodape-conclusao{
		font-size: 12px;
		margin-top: 45px !important;
    	margin-bottom: 0 !important;
	}
	
}

/* Ajuste Scroll no formulário da fase 1 */
.conteudo-fixo .fase-1 .pproteg-contratacao-wrapper .form {
    top: 0 !important;
}

/* Botoes */
.btn.botao.avancar{
	margin: 0 3px;
	width: 98%;
}
.btn.botao.avancar.manual, 
.btn.botao.voltar {
	width: 98%;
	margin: 15px 3px 0 3px;
	
	/* Botoes na Fase 3 e Fases 4 e 5 */
	.fase-3 & {
		width: 165px;
		margin: 15px 3px;
	}
}



/* Estilização do componente */
.noUi-connec, .noUi-connect, .noUi-handle, .noUi-target{
	box-shadow: none !important;
}

.noUi-horizontal {
    height: 5px !important;
}

.noUi-horizontal .noUi-handle {
    width: 23px !important;
    height: 23px !important;
    right: -11px !important;
    top: -10px !important;
    cursor: pointer;
}

.noUi-marker-horizontal.noUi-marker{
	width: 1px !important;
	height: 7px !important;
}

.noUi-marker-large, .noUi-marker-sub {
    background: #bebebe !important;
}

.noUi-handle{
	box-shadow: none !important;
    border-color: #00aeef !important;
    background: #00aeef !important;
    border-radius: 15px;
    outline: none !important;
}

.noUi-handle:after, .noUi-handle:before{
	display: none !important;
}

.noUi-target{
	border: none !important;
	background: #e8f1f2;
}

.noUi-tooltip{
	border: none !important;
    color: #00aeef !important;
    font-family: Lato !important;
    font-size: 18px !important;
    font-weight: 700 !important;
}
.noUi-connect {
    background: #00aeef;
}
.noUi-tooltip.maximo{
	background-color: transparent !important;
}

/* Remove os Web Contents na fase 3 */

.fase-3, .fase-4, .fase-5,
.fase-6, .fase-7, .fase-8,
.fase-9, .fase-10,{
	.journal-content-article{
		display: none !important;
	}
} 


/* Confirmacao do Pedido */

.analise-enviada, .contratacao.conclusao {
    
    
    p {
	    margin: 0 0 25px !important;
	}
	
	ul{
		margin-left: 0;
		
		li{
			font-size: 18px;
			list-style: none;
		}
	} 
    
    .titulo-confirmacao {
	    text-align: center;
	    text-transform: uppercase;
	    
	    span{
	    	font-size: 30px;
	    }
	    i{
	    	font-size: 35px;
	    }
	}
	.numero-pedido{
		text-align: center;
	}
	.texto-destaque.upper{
		text-transform: uppercase;
	}
	
	.texto-destaque.divisor {
	    border-bottom: 1px solid;
	    padding-top: 10px;
	    padding-bottom: 5px;
	    width: auto;
	}
	i.icon-chevron-right{
		font-size: 14px;
	}
	
}


/* Ajustes nas Fases 4 a 10 */
.fase-4, .fase-5{
	.pproteg-contratacao-wrapper .form .tabela-campos.contratacao{
		margin-top: 0 !important;
		border-top: none !important;
		
		.coluna.nome{
			padding-left: 0;
		}
	}
}



.fase-5 .pproteg-contratacao-wrapper .form{
	
	.percentual-beneficiario,
	.botao.adicionar{
		width: 47% !important;
	}
	
	.percentual-beneficiario{
		float: left;
	}
	
	.botao.adicionar{
		float: right;
		margin-top: 0;
	}
	
	.control-group.field-wrapper.tabela-beneficiarios{
		overflow: scroll;
	}
	
	#tblBeneficiarios {
	    width: 100%;
	    
	    th {
		    text-align: left;
		    text-transform: uppercase;
			border-bottom: 1px solid #ccc;
    		padding-bottom: 8px;
    		padding-right: 5px;
		}
		td {
    		padding: 5px;
		}
		
		.texto-completo{
			display: block;
		}
		.texto-abreviado{
			display: none;
		}
	}
	
	.btn.botao.remover{
		color: $vermelhoAux;
		background-color: $white !important;
		padding: 0;
		
		&:hover, &:active, &:focus{
			background-color: $white !important;
		}	
	}
	
	
}

.fase-6{
	.tabela-campos.contratacao.dpsa{
		border-top: none !important;
	}
}


/* Progressbar */
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	margin-left: 0 !important;
	
	li{
		list-style-type: none;
		/* color: blue;  Azul PMERJ/ PCERJ */
		text-transform: uppercase;
		font-size: 9px;
		width: 20%;
		float: left;
		position: relative;
		text-align: center;
		
		&:before{
			content: counter(step);
			counter-increment: step;
		    width: 26px;
		    line-height: 26px;
		    display: block;
		    font-size: 12px;
			color: $white;
			/* background: red; */
			border-radius: 3px;
			margin: 0 auto 5px auto;
			position: relative;
   			z-index: 1;
		}
		
		/*progressbar connectors*/
		&:after{
			content: '';
			width: 100%;
			height: 2px;
			/* background: white; */
			position: absolute;
			left: -50%;
			top: 11px;
			z-index: 0; /*put it behind the numbers*/
		}
		
		&:first-child:after {
			/*connector not needed before the first step*/
			content: none; 	
		}
	}
	
	li.active:before, li.active:after{
		color: $white;
	}
	
}



/* Fases de contratacao */
.fase-4, .fase-5 ,
.fase-6 , .fase-7, .fase-8,
.fase-9, .fase-10{
	input.cmn-toggle-round-flat:checked+label, 
	input.cmn-toggle-round-flat:checked+label:before {
	    content: '\00a0sim' !important;
	    padding-left: 2px;
	}
	input.cmn-toggle-round-flat+label:before{
		content: "não";
		font-size: 10px;
	    color: #ddd;
	    padding-left: 34px;
	    padding-top: 2px;
	}
	
	.button-holder {
	    margin-top: 60px !important;
	}
	
}

/* Modal - Token */
h2.iziModal-header-title {
    font-size: 25px !important;
}

/* Estilo do Formulario - Vida */
.sliders-intro{
	background-color: rgba(251,251,255,0.9);
	color: $azulEscuroPmerj;
}
	
#sliders .produto-wrapper .nome {
	color: $azulEscuroPmerj;
}
.assistencia-texto{
 	.carencia, .franquia {
	    color: $azulPmerj;
	}	   
}

.valor-vida{
	color: $azulEscuroPmerj;
}

.pproteg-contratacao-wrapper .form{
	
		.conjuge .coluna.nome, 
		.assistencias .coluna.nome,
		.exibir-detalhe i{
			color: $azulEscuroPmerj;
		}
		
		.bonus .coluna.campo{
			color: $verdePmerj;
		}
	
		.resumo-wrapper{
			/* Azul PMERJ */
			/* background-color: rgba(0 ,174,234, 0.4); */
			/* background-color: rgba(24, 78, 94, 0.6); */
			
			/* Verde PMERJ */
			/* background-color: $verdePmerj; */
			background-color: rgba(38, 193, 167, 0.8);
			
			.resumo{
				color: $brancoPmerj;
				
				.valor.mensal{
					/* color: $azulEscuroPmerj; */
					color: $pretoPmerj;
				}
				.patente-selecionada, 
				.cobertura-maxima,
				#produtosSel,
				#assistenciasSel{
					border-color: $brancoPmerj;
				}
			}
		}
	}
	
	.btn.botao.voltar{
		background-color: transparent;
		color: $pretoPmerj;
		border: 2px solid $pretoPmerj;
		
		&:hover, &:active, &:focus{
			background-color: rgba(58, 58, 58, 0.7);
		    box-shadow: 0 0 10px rgba(58,58,58,0.7);
		    border: 2px solid transparent;
		    color: $brancoPmerj;
		}
	}
	.btn.botao.avancar{
		color: $brancoPmerj;
		background-color: $azulEscuroPmerj;
		border: 2px solid $azulEscuroPmerj;
	
		&:hover, &:active, &:focus{
			background-color: rgba(0, 174, 239, 0.7);
			box-shadow: 0 0 10px rgba(0, 174, 239, 0.7);
			border: 2px solid transparent;
		}
	
	}
	
	.btn.botao.avancar.manual{
		background-color: $pretoPmerj;
		border: 2px solid $pretoPmerj;
		
		&:hover, &:active, &:focus{
		
			/* Azul Escuro PMERJ */
			background-color: rgba(24,78,94,0.7);
    		box-shadow: 0 0 10px rgba(24,78,94,0.7);
    		border: 2px solid transparent;
		}
	}
	
	input.cmn-toggle-round-flat:checked+label,
	input.cmn-toggle-round-flat:checked+label:after{
		background-color: $verdePmerj !important;
	}
	input.cmn-toggle-round-flat:checked+label:before{
		color: $verdePmerj !important;
	}
	
	
	.analise-enviada, .contratacao.conclusao{
		i{
			color: $verdePmerj;
		}
		.titulo-confirmacao{
			span{
				color: $azulEscuroPmerj;
			}
			
		}
		.numero-pedido{
			color: $verdePmerj;
		}
		.texto-destaque{
			color: $verdePmerj;
		}
	}
	
	.btn.botao.adicionar{
		background-color: $verdePmerj;
		border: 2px solid transparent;
		
		&:hover, &:active, &:focus{
			background-color: rgba(38, 193, 167, 0.7);
			box-shadow: 0 0 10px rgba(38, 193, 167, 0.7);
		}	
	}
	
	#tblBeneficiarios{
		th{
			color: $azulEscuroPmerj;
		}
	}
	
	#progressbar{
		li{
			color: $azulEscuroPmerj;
			
			&:before{
				background: $azulEscuroPmerj;
			}
			
			&:after{
				background: $azulEscuroPmerj;
			}
		}
		li.active:before, li.active:after{
			background: $verdePmerj;
		}
	}
	
	
	