@media (max-width: 479px) {
	.aui{
		body {
		    padding-left: 0 !important;
		    padding-right: 0 !important;
		}
		
		.span3, .span4, .span6, .span12{
			width: 250px !important;
			/* margin: auto !important; */
		}
		
		/* Fases de contratacao */
    	.fase-1, .fase-2, .fase-3, .fase-4,
    	.fase-5, .fase-6, .fase-7, .fase-8,
    	.fase-9, .fase-10{
    		.span6{
    			width: auto !important;
    		}
    	}
		
		h1 {
		    font-size: 45px!important;
		    line-height: 48px!important;
		}
		/* .span6 {
		    width: 414px;
    		margin: auto !important;
		}
		.portlet-column.span3 {
			
		} */
		.portlet-column.span3 {
		    padding-top: 60px;
		}
		/* .portlet-column-first.span3 {
		    padding-top: 0 !important;
		} */
		/* .span12{
			margin-left: 0 !important;
		} */
		
		#navigation{
			display: block !important;
			padding: 30px 30px 30px 30px;
		    margin: 11px -30px -12px;
		    position: relative;
		    
			 .nav-desktop{
		    	display: none !important;
		    }
		}
		.nav-selected{
			background-color: #49B869;
		}
		a{
			text-decoration: none !important;
		}
	} 
	.collapse.nav-collapse{
		width: 95% !important;
	}
	#heading .logotipo img {
	    width: 142px;
	    max-width: 142px;
	    padding-top: 12px;
	}
	.assistencias, .coberturas, .assistenciais {
	    max-width: 721px;
	}
	#coberturas{
		.coberturas{
			padding: 15px 0 !important;
			
			.morte-natual-texto {
			    padding: 30px 0;
			}
			
			.paragrafo-cobertura{
				text-align: center !important;
			}
			.acidente-imagem img {
			    padding-top: 30px;
			    width: 350px;
			}
		}
		.span12{
			margin-left: auto!important;
    		margin-right: auto !important;
		}
		.coberturas.acidental-desktop{
			display: none;
		}
		.coberturas.acidental-mobile{
			display: block;
		}
		
	}
	
	#nav_toggle{
		display: block !important;
	}
	.overlay-content{
		margin-left: 0 !important;
	}
	#parallax1{
		background-position: center !important;
		
		.overlay-content{
			margin-left: 0 !important;
			
			.conteudo-slider {
			    padding: 36% 10% 5% 10%;
				margin-left: 0;
					    
			    .subconteudo-slider {
				    padding: 22px;
				}
			}
		} 
	} 
	#assistencias .assistencias {
	    padding-top: 0 !important;
	}
	#aceitacao{
		.parallax2 {
			background-size: 430%!important;
    		background-position-y: center;
		    
		    .overlay-content{
				margin-left: 0 !important;
			}
		    .container-texto-aceitacao{
		    	top: -76%;
		    	
		    	.subcontainer-texto-aceitacao{
		    		padding: 30px;
				    margin: 0;
				    
				    h1{	
				    	text-align: center;
				    }
				    #togglerAceitacao h4 {
					    width: 100%;
					    box-sizing: border-box;
				    }
		    	}
		    }
		}
	} 
	#protecao-familiar{
		height: 100%;
		
		.overlay-content-green{
			margin-right: 0;
		}
		.conteudo-protecao {
		    padding: 45px;
		}
	}
	[data-aos=fade-left] {
	    transform: translate(4%) !important;
	}
	[data-aos=fade-right] {
	    transform: translate(-4%) !important;
	}
	
	/* Formulário */
	.form{
		
		.texto-completo{
			display: none !important;
		}
	
		#tblBeneficiarios{
		
			td{
				width: 20%;
			}
			
			.texto-abreviado{
				display: block !important;
			}
			
			.rmv-ben{
				display: none;	
			}
		}
	}
	
	.fase-3{
		.topo-vida{
			height: 550px;
		}
		.sliders-intro{
			top: 99px;
			height: 511px;
		}
		
	}
	
	#footer{
		.logo{
			width: 100%;
    		margin-bottom: 15px;
		}
		.social{
			width: 100%;
    		text-align: center;
		}
	}
}