@media (min-width: 768px){
	.valor-vida.max-767{
		display: none;
	}
	
	.valor-vida.min-768{
		display: block;
	}
}

@media (max-width: 979px){
	.aui{
		body {
		    padding-left: 0 !important;
		    padding-right: 0 !important;
		}
		
		.span3{
			width: 344px !important;
		}
		.span6 {
		    width: 414px;
    		margin: auto !important;
		}
		.portlet-column.span3 {
			margin-left: 0 !important;
		}
		.portlet-column.span3 {
		    padding-top: 60px;
		}
		/* .portlet-column-first.span3 {
		    padding-top: 0 !important;
		} */
		.span12{
			margin-left: 0 !important;
		}
		
	} 
	/* Posição dos textos do formulário */
	.fase-1 .pproteg-contratacao-wrapper .form{
		margin-top: 0 !important;

	}

	.fase-2, .fase-3, .fase-4, .fase-5,
	.fase-6, .fase-7, .fase-8,
	.fase-9, .fase-10{
		.texto-vida-explicativo.display-desktop {
			display: none !important;
		} 
		.texto-vida-explicativo.display-mobile {
			display: block !important;
		} 
	} 
}
	

@media (min-width: 768px) and (max-width: 979px) {
	
	.assistencias, .coberturas, .assistenciais, .sub-assistenciais {
    	width: auto;
	}
	/* .assistencias, .coberturas, .assistenciais {
	    max-width: 721px;
	} */
	
	#parallax1 .overlay-content {
	    margin-left: 30%;
	}
	
	#container-slider #parallax1{
		.parallax1{
			background-position-y: center;
   			background-size: 124% !important;
		}
		.container-itens-slider{
			top: -78% !important;
			height: 183% !important;
			
			.subcontainer-itens-slider{
				padding: 10.1% 9% 12.5%;
				
				.borda-itens-slider{
					 padding: 7% 3% 10% 17%;
				}
			}
		}
	}
	#aceitacao{
		.parallax2 {
		    background-size: 183% !important;
		    
		    .container-texto-aceitacao{
		    	top: -82%;
		    	
		    	.subcontainer-texto-aceitacao{
		    		padding: 10.1% 9% 12.5%;
		    	}
		    }
		}
	} 
	.coberturas.acidental-desktop{
		display: block;
	}
	.coberturas.acidental-mobile{
		display: none;
	}
	#protecao-familiar{
		.overlay-content-green{
			margin-right: 30%;
		}
	}
	
	
		#assistencias-vida .assistencia-vida .esq,
	#assistencias-vida .assistencia-vida .dir{
		float: none;
    	width: 100%;
	}
	
	/* .pproteg-contratacao-wrapper{
		.form {
		    min-width: 288px !important;
		    width: 288px !important;
		}
	}  */
	
	.valor-vida {
	    background-color: white !important;
	    margin-top: 11px !important;
	    top: 0 !important;
	}
	
	/* Ajuste para formulário no Tablet e em celulares Grandes */
	.aui [class*="span"], .aui .uneditable-input[class*="span"], .aui .row-fluid [class*="span"] {
	    float: none !important;
	    display: block !important;
	    width: 100% !important;
	    margin-left: 0 !important;
	    -webkit-box-sizing: border-box !important;
	    -moz-box-sizing: border-box !important;
	    box-sizing: border-box !important;
	}
	
	.pproteg-contratacao-wrapper .form{
		
		position: relative !important;
	    width: auto !important;
	    min-width: auto !important;
	    top: 0 !important;
	    margin-top: -230px !important;
	    margin-right: 0 !important;
	}
	.pproteg-contratacao-wrapper.fase-3 .formulario-wrapper {
	    float: none;
	    width: 95%;
	    box-sizing: border-box;
	}
	
	.pproteg-contratacao-wrapper .form input.field, 
	.pproteg-contratacao-wrapper .form select {
	    max-width: 100% !important;
	}
	.pproteg-contratacao-wrapper .form #sliders .produto-wrapper .descricao,
	.pproteg-contratacao-wrapper .form .assistencia-texto .texto{
		text-align: justify !important;
	}
	
	.pproteg-contratacao-wrapper .form .assistencia-texto .franquia, 
	.pproteg-contratacao-wrapper .form .assistencia-texto .carencia {
	    float: none;
	    width: 100%;
	    box-sizing: content-box;
	}
	
	.pproteg-contratacao-wrapper .coluna.nome {
	    min-width: auto;
	    width: 58%;
	    line-height: 23px;
	    padding-bottom: 20px;
	}
	
	.pproteg-contratacao-wrapper .tabela-campos.contratacao.dpsa{
		.linha{
			display: grid !important;
		}
		.coluna.nome{
			width: 100% !important;
		    padding-bottom: 5px !important;
		}
		
	}
	
	.pproteg-contratacao-wrapper.fase-3 .resumo-wrapper{
		float: none;
	    width: 100%;
	    margin-top: 20px;
	    position: relative !important;
    	top: auto;
    	bottom: auto !important;
	}
	
	.pproteg-contratacao-wrapper .form .button-holder{
		padding-top: 10px;
	}
	
	.fase-3 .btn.botao.avancar.manual, 
	.fase-3 .btn.botao.voltar{
		width: 98% !important;
    	margin: 0 3px 15px 3px !important;
	}
    	
}