@media (min-width: 480px) and (max-width: 767px) {

	.collapse.nav-collapse{
	  	width: 55% !important;
	}
	.assistencias, .coberturas, .assistenciais {
	    max-width: 721px;
	}
	#coberturas{
		.coberturas{
			padding: 15px 0 !important;
			
			.morte-natual-texto {
			    padding: 30px 0;
			}
			
			.paragrafo-cobertura{
				text-align: center !important;
			}
			.acidente-imagem img {
			    padding-top: 30px;
			    width: 350px;
			}
		}
		
		.coberturas.acidental-desktop{
			display: none;
		}
		.coberturas.acidental-mobile{
			display: block;
		}
		
	}
	
	#nav_toggle{
		display: block !important;
	}
	.overlay-content{
		margin-left: 0 !important;
	}
	#parallax1 .overlay-content{
		margin-left: 0 !important;
		
		.conteudo-slider {
		    padding: 36% 10% 5% 10%;
			margin-left: 0;
				    
		    .subconteudo-slider {
			    padding: 30px;
			}
		}
	} 
	#assistencias .assistencias {
	    padding-top: 0 !important;
	}
	#aceitacao{
		.parallax2 {
		    background-size: 311%!important;
    		background-position-y: center !important;
		    
		    .overlay-content{
				margin-left: 0 !important;
			}
		    .container-texto-aceitacao{
		    	top: -76%;
		    	
		    	.subcontainer-texto-aceitacao{
		    		padding: 30px;
				    margin: 0;
				    
				    h1{	
				    	text-align: center;
				    }
				    #togglerAceitacao h4 {
					    width: 100%;
					    box-sizing: border-box;
				    }
		    	}
		    }
		}
	} 
	#protecao-familiar{
		.overlay-content-green{
			margin-right: 0;
		}
		.conteudo-protecao {
		    padding: 45px;
		}
	}
	/* .parallaxParent {
    	height: 63vh !important;
	} */
	.parallaxParent>* {
    	height: 180% !important;
	}
	[data-aos=fade-left] {
	    transform: translate(4%) !important;
	}
	[data-aos=fade-right] {
	    transform: translate(-4%) !important;
	}
	#footer{
		.logo{
			width: 100%;
    		margin-bottom: 15px;
		}
		.social{
			width: 100%;
    		text-align: center;
		}
	}
}