@media (max-width: 767px) {
	
	/* #navigation {
	    visibility: hidden;
	}
 */
	#assistencias-vida .assistencia-vida .esq,
	#assistencias-vida .assistencia-vida .dir{
		float: none;
    	width: 100%;
	}
	
	#aceitacao .container-texto-aceitacao{
		min-height: 600px;
		height: 600px;
	}
	
	.valor-vida.min-768{
		display: none;
	}
	.valor-vida.max-767{
		display: block;
	}
	
	.valor-vida {
		display: none !important;
	    left: 30px;
	    right: auto;
	    top: 75px;
	    padding: 10px;
	    position: relative;
	    width: 207px;
	    height: 34px;
	    
	    .num-vida {
    		font-size: 30px;
    		padding-top: 6px;
		}
		.texto-vida {
		    font-size: 11px;
		}	
		.texto-vida.ant{
			line-height: 16px;
		}
		.texto-vida.pos {
		    padding-top: 13px;
		}
	}
	.valor-vida-fixo .valor-vida{
		opacity: 0 !important;
	}
	
	.pproteg-contratacao-wrapper .form{
		
		position: relative !important;
	    width: auto !important;
	    min-width: auto !important;
	    top: 0 !important;
	    margin-top: -230px !important;
	    margin-right: 0 !important;
	}
	.pproteg-contratacao-wrapper.fase-3 .formulario-wrapper {
	    float: none;
	    width: 95%;
	    box-sizing: border-box;
	}
	
	.pproteg-contratacao-wrapper .form input.field, 
	.pproteg-contratacao-wrapper .form select {
	    max-width: 100% !important;
	}
	.pproteg-contratacao-wrapper .form #sliders .produto-wrapper .descricao,
	.pproteg-contratacao-wrapper .form .assistencia-texto .texto{
		text-align: justify !important;
	}
	
	.pproteg-contratacao-wrapper .form .assistencia-texto .franquia, 
	.pproteg-contratacao-wrapper .form .assistencia-texto .carencia {
	    float: none;
	    width: 100%;
	    box-sizing: content-box;
	}
	
	.pproteg-contratacao-wrapper .coluna.nome {
	    min-width: auto;
	    width: 58%;
	    line-height: 23px;
	    padding-bottom: 20px;
	}
	
	.pproteg-contratacao-wrapper .tabela-campos.contratacao.dpsa{
		.linha{
			display: grid !important;
		}
		.coluna.nome{
			width: 100% !important;
		    padding-bottom: 5px !important;
		}
		
	}
	
	.pproteg-contratacao-wrapper.fase-3 .resumo-wrapper{
		float: none;
	    width: 100%;
	    margin-top: 20px;
	    position: relative !important;
    	top: auto;
    	bottom: auto !important;
	}
	
	.pproteg-contratacao-wrapper .form .button-holder{
		padding-top: 10px;
	}
	
	.fase-3 .btn.botao.avancar.manual, 
	.fase-3 .btn.botao.voltar{
		width: 98% !important;
    	margin: 0 3px 15px 3px !important;
	}
	
	.conteudo-fixo .pproteg-contratacao-wrapper .form {
	    top: 0 !important;
	}
	
	.topo-vida{
		height: 550px;
	}
	
	.sliders-intro{
		width: 100%;
	    box-sizing: border-box;
	    left: 0;
	   /*  top: 72px; */
	    height: 400px;
	    margin: 0 !important;
	    background-color: rgba(251,251,255,0.9) !important;
	    font-size: 23px;
	}
	
	.noUi-pips-horizontal{
		padding: 15px 0 5px 0;
	}
	.noUi-horizontal .noUi-handle:focus,
	.noUi-horizontal .noUi-handle:hover {
	    width: 33px !important;
	    height: 32px !important;
	    left: -17px!important;
	    top: -14px!important;
	}
	
	.analise-enviada {
	    width: 100% !important;
	    padding: 30px !important;
	    margin-top: -230px !important;
	}
	
	.fase-4, .fase-5 ,
	.fase-6 , .fase-7, .fase-8,
	.fase-9, .fase-10{
		#progressbar{
			display: none !important;
		}
	}
	
	#parallax1, #parallax2{
		background-position: center !important;
		background-attachment: initial;
	}
	.overlay-content {
		background-color: rgba(0 ,46, 84, 0.7);
	}
	
	/* Token */
	#_policiaprotegidaportlet_WAR_policiaprotegidaportlet_tokenSms {
	    width: 100% !important;
	}
	
	.aui .botao.voltar.pull-left, 
	.aui .botao.avancar.pull-right{
		padding: 18px 20px !important;
	}
	
	footer{
		flex-flow: column nowrap;
		
		.social{
			margin-top: 30px;
		}
	}
	
	
}
