@media (min-width: 980px) {
	
	/* Posição dos textos do formulário */
	.fase-2, .fase-3, .fase-4, .fase-5,
	.fase-6, .fase-7, .fase-8,
	.fase-9, .fase-10{
		.texto-vida-explicativo.display-desktop {
			display: block !important;
		} 
		.texto-vida-explicativo.display-mobile {
			display: none !important;
		}  
	} 
}

@media (min-width: 980px) and (max-width: 1199px) {
	
	.aui{
		.span3{
			width: 212px !important;
		}
		.span4 {
		    width: 290px !important;
		}
		.span6{
			/* width:355px !important; */
		}
		.span12{
			width: 100% !important;
			margin-left: 0 !important;
		}
	}
	
	#container-slider{
	
		.parallax1{
			background-position-y: 206px;
		}
		
		.container-itens-slider{
			top: -83%;
		    
		    .subcontainer-itens-slider{
			    margin: 0 0 0 24%;
			    
			}
		}	
		
	}
	#assistencias .assistencias p {
	    min-height: 80px;
	}
	
	#parallax2 .parallax2{
		background-size: 147%;
    	background-position-y: 203px;
	}
	.overlay-content-green{
		margin-right: 50%;
	}
	#assistencias .assistencias .leia-mais{
		margin-top: 325px !important;
	}
	.acidental-desktop{
		display: block;
	}
	.acidental-mobile{
		display: none;
	}
}

@media (max-width: 1199px){
	
	#parallax1, #parallax2{
    	background-attachment: initial;
	}
	
	.aui{
		#navigation{
			display: block !important;
			padding: 30px 30px 30px 30px;
		    margin: 11px -30px -12px;
		    position: relative;
		    
			 .nav-desktop{
		    	display: none !important;
		    }
		}
		#nav_toggle{
			display: block !important;
		}
		.nav-selected{
			background-color: #49B869;
		}
		a{
			text-decoration: none !important;
		}
	}
	
	
	
	.pproteg-contratacao-wrapper.fase-3 .formulario-wrapper {
	    float: none;
	    width: 100%;
	    box-sizing: border-box;
	}
	.pproteg-contratacao-wrapper.fase-3 .resumo-wrapper{
		float: none;
	    width: 100%;
	    position: relative !important;
    	top: auto;
    	bottom: auto !important;
    	margin-top: 20px !important;
	}
	.pproteg-contratacao-wrapper .form .button-holder{
		padding-top: 10px;
	}
	.simulacao-fixo .pproteg-contratacao-wrapper .form .resumo-wrapper {
	    position: relative !important;
	    right: auto;
	    margin-top: 20px;
	}
	
	.fase-3 .btn.botao.avancar.manual, 
	.fase-3 .btn.botao.voltar{
		width: 98% !important;
    	margin: 0 3px 15px 3px !important;
	}
} 

@media (min-width: 980px) and (max-width: 1199px) {
	
	.valor-vida{
	    background-color: transparent !important;
	    margin-top: 11px !important;
	    top: 0 !important;
	}
	
	.pproteg-contratacao-wrapper.fase-1 .form,
	.pproteg-contratacao-wrapper.fase-2 .form{
		min-width: auto !important;
	    width: 37% !important;
	    position: fixed !important;
	} 
}