@media (min-width: 1200px)and (max-width: 1600px) {
	.conteudo-fixo .fase-2 .pproteg-contratacao-wrapper .form {
	    top: 0 !important;
	}
	.fase-2 .pproteg-contratacao-wrapper .form {
		position: relative !important;
    	top: 0 !important;
	}
}

@media (min-width: 1200px) {
	.aui{
		.span3{
			width: 257px !important;
		}
		.coberturas .span6 {
		    width: 546px !important;
		}
		.span12{
			width: 100% !important;
		}
	}
	.acidental-desktop{
		display: block;
	}
	.acidental-mobile{
		display: none;
	}
	
	/* Fases de contratacao */
	.fase-4, .fase-5 ,
	.fase-6 , .fase-7, .fase-8,
	.fase-9, .fase-10{
		.form{
			.botao.avancar,
			.botao.voltar{
				width: 47% !important;
			}
			.botao.avancar{
				float: right;
			}
			.botao.voltar{
				float: left;
				margin-top: 0;
			}
			
			/* Alinhamento dos campos */
			.campos.rg, .campos.banco{
				.control-group{
					float: left;
				}
				input{
					width: 90% !important;
				}
			} 
			.campos.rg .control-group{
				width: 33% !important;
			}
			
			.campos.banco .control-group{
				width: 25% !important;
			}
			
			.campos.endereco.cep .control-group,
			.campos.endereco.municipio .control-group,
			.campos.endereco.numero .control-group,
			.campos.celular-1 .control-group{
				float: left;
				width: 47% !important;
			}
			.campos.endereco.uf .control-group,
			.campos.endereco.bairro .control-group,
			.campos.endereco.complemento .control-group,
			.campos.celular-2 .control-group{
				float: right;
				width: 47% !important;
			}
			
			.tabela-campos.contratacao.politicamente-exposto{
				text-transform: uppercase;
			}
		}
	}
}